@model HospiEnCasa.Models.Enfermera

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enfermera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarjetaProfesional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarjetaProfesional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasLaboradas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasLaboradas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
